/node_modules
/public/hot
/public/build
/public/storage
/public/vendor
/resources/views/vendor
/resources/lang/spark
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
