@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sortable-chosen:not(.sortable-ghost) {
        @apply -m-px rounded-lg shadow-xl bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600;
    }
    .sortable-ghost .bullet-body {
        @apply opacity-10 bg-gray-400 dark:bg-black;
    }

    .spotlight-bg {
        background-color: #F9FAFB;
    }
    @media (min-width: 1024px) {
        .spotlight-bg {
            background-image: url('/images/spotlight-bg.svg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    @media (prefers-color-scheme: dark) {
        .spotlight-bg {
            background-color: #111827;
        }
    }
    @media (min-width: 1024px) and (prefers-color-scheme: dark) {
        .spotlight-bg {
            background-image: url('/images/spotlight-bg-dark.svg');
        }
    }
}

[x-cloak] {
    display: none !important;
}
