@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .spotlight-bg {
        background-color: #F9FAFB;
    }
    @media (min-width: 1024px) {
        .spotlight-bg {
            background-image: url('/images/spotlight-bg.svg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    @media (prefers-color-scheme: dark) {
        .spotlight-bg {
            background-color: #111827;
        }
    }
    @media (min-width: 1024px) and (prefers-color-scheme: dark) {
        .spotlight-bg {
            background-image: url('/images/spotlight-bg-dark.svg');
        }
    }
}

[x-cloak] {
    display: none !important;
}
